<div class="slider">

  <div class="slide active-slide" id="slide-1">
    <div class="container">
      <div class="row">
        <div class="slide-copy col-xs-6">
          <h1>Rails Social Networking App</h1>
          <p>
            This is a sample social networking site developed with Ruby 2 and 
            Rails 4. It replaces an earlier version of 
            <a href="http://www.twitter.com/" target="_blank">Twitter</a> 
            with all features built from scratch.
          </p>
          <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        </div>
        <div class="slide-img col-xs-6">
        </div>
      </div>
    </div>      
  </div>

  <div class="slide" id="slide-2">
    <div class="container">
      <div class="row">
        <div class="slide-copy col-xs-12">
          <h1>Enjoy Flipboard Magazines</h1>
          <p>
            Millions of people use Flipboard to read and collect the news they
            care about, curating their favorite stories into their own 
            magazines on any topic imaginable. Now magazines created by our 
            readers, from Dali to End Trafficking, can be shared and enjoyed on
            the Web by anyone, anywhere.
          </p>
        </div>
      </div>
    </div>      
  </div> 

  <div class="slide" id="slide-3">
    <div class="container">
      <div class="row">
        <div class="slide-copy col-xs-6">
          <h1>Badges & Widgets</h1>
          <p>
            Millions of people use Flipboard to read and collect the news they
            care about, curating their favorite stories into their own 
            magazines. Now you can promote the ones you create or think are 
            awesome.
          </p>
        </div>
        <div class="slide-img col-xs-6">
        </div>
      </div>
    </div>      
  </div> 
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org', target: "_blank" %>