<div class="row">
  <aside class="col-md-4">
    <!-- user info. -->
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <!-- user stats. -->
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <!-- micropost form. -->
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <!-- Feed. -->
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>