<% provide(:title, "About") %>
<h1>About</h1>
<p>
	This is a sample social networking site developed with Ruby 2 and Rails 4. It replaces an earlier version of <a href="http://www.twitter.com/" target="_blank">Twitter</a> with all features built from scratch.
</p>
<div class="container">
  <div class="col-md-6">
    <h4>Features:</h4>
    <ul>
      <li>Sign up and sign in forms</li>
      <li>User authentication</li>
      <li>View and edit user profiles</li>
      <li>Form validations and alert messages</li>
      <li>Show all users using pagination</li>
      <li>User roles and authorization</li>
      <li>Updating, showing, and deleting users</li>
      <li>Account activation and password reset</li>
      <li>Custom email messages</li>
      <li>Create and delete user microposts</li>
      <li>Upload micropost images</li>
      <li>Follow/unfollow users</li>
      <li>Status feed at user home pages</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>Technologies and languages:</h4>
    <ul>
      <li>HTML5, CSS3, ERb and SCSS</li>
      <li>Bootstrap front-end framework</li>
      <li>AJAX (plus some JavaScript functions)</li>
      <li>jQuery effects</li>
      <li>RESTful resources, filters and strong parameters</li>
      <li>Input validations at client and server sides</li>
      <li>Carefully-followed MVC software architecture</li>
      <li>Well-documented Ruby code</li>
      <li>Custom URLs</li>
      <li>Database migrations and seeds</li>
      <li>Deployed to Heroku with SSL and SendGrid for e-mail messages</li>
      <li>Amazon Web Services for image uploading</li>
      <li>Tests for <i>all</i> features using fixtures</li>
    </ul>
  </div>  
</div>