<% provide(:title, "About") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 center">
      <h1>About</h1>
      <p>
      	This is a sample social networking site developed with Ruby 2 and Rails 4. It replaces an earlier version of <a href="http://www.twitter.com/" target="_blank">Twitter</a> with all features built from scratch.
      </p>
    </div>
  </div>
</div>

<div class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 picture-left">
        <div class="thumbnail">
          <div id="about-1" title="Features"></div>
        </div>
      </div>
      <div class="col-md-6 center features-list">
        <h2>Features:</h2>
        <ul>
          <li>User authentication (sign up and sign in forms)</li>
          <li>Form validations and alert messages</li>
          <li>User roles and authorization</li>
          <li>View and edit user profiles</li>
          <li>Show all users using pagination</li>
          <li>Update, show, and delete users</li>
          <li>Account activation and password reset</li>
          <li>Custom email messages</li>
          <li>Create and delete user microposts</li>
          <li>Upload micropost images</li>
          <li>Follow/unfollow users</li>
          <li>Status feed at user home pages</li>
        </ul>
      </div>
    </div>  
  </div>
</div>
<div class="feature">
  <div class="container">
    <div class="row row-feature">
      <div class="col-md-6 center features-list">
        <h2>Technologies and languages:</h2>
        <ul>
          <li>HTML5, CSS3, ERb and SASS</li>
          <li>Bootstrap front-end framework</li>
          <li>AJAX (plus some JavaScript functions)</li>
          <li>jQuery effects and Custom URLs</li>
          <li>RESTful resources, filters and strong parameters</li>
          <li>Input validations at client and server sides</li>
          <li>Carefully-followed MVC software architecture</li>
          <li>Well-documented Ruby code</li>
          <li>Database migrations and seeds</li>
          <li>Deployed to Heroku with SSL and SendGrid for sending e-mails</li>
          <li>Amazon Web Services for image uploading</li>
          <li>Tests for <i>all</i> features using fixtures</li>
        </ul>
      </div>
      <div class="col-md-6 picture-right">
        <div class="thumbnail">
          <div id="about-2" title="Technologies and Languages"></div>
        </div>
      </div>
    </div>
  </div>
</div>