<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  You may reach Oscar Fabra by email at <a href="mailto:oscarfabra@gmail.com">oscarfabra@gmail.com</a> or visit his personal website at <a href="http://oscarfabra.com" target="_blank">oscarfabra.com</a>. You can also find him at <a href="http://twitter.com/oscarfabra" target="_blank">Twitter</a>, <a href="http://facebook.com/oscarfabra" target="_blank">Facebook</a>, <a href="http://linkedin.com/in/oscarfabra" target="_blank">LinkedIn</a> or <a href="http://plus.google.com/+oscarfabra" target="_blank">Google+</a>.
</p>