<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	This is a sample help page. It should contain frequently asked questions 
  and/or a help desk functionality. For further assistance please contact <a href="mailto:oscarfabra@gmail.com">Oscar Fabra</a>.
</p>