@import "bootstrap-sprockets";
@import "bootstrap";

/*-------------------------------------------------------------
 *  DEFINES MIXINS, VARIABLES, ETC.
 *-----------------------------------------------------------*/

$gray-medium-light: #eaeaea;
$purple: #9966FF;
$purpleDark: #5C3D99;

@mixin box_sizing 
{
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: border-box;
	box-sizing: 				border-box;
}

/*-------------------------------------------------------------
 *  CUSTOMIZES MISCELLANEOUS THINGS
 *-----------------------------------------------------------*/

.debug_dump
{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/*-------------------------------------------------------------
 *  CUSTOMIZES UNIVERSAL ELEMENTS
 *-----------------------------------------------------------*/

html
{
	overflow-y: scroll;
}

body
{
	min-width: 540px !important;
	overflow-x: hidden; 
  overflow-y: auto;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 60px;
}

section
{
	overflow: auto;
}

form
{
	font-size: 1.2em;
	line-height: 1.5em;
}

label
{
	padding-top: 10px;
}

textarea
{
	font-size: 0.8em;
	padding-left: 3px;
	resize: vertical;
}

.center
{
	text-align: center;
	p
	{
		color: $gray-light;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}

/*-------------------------------------------------------------
 *  CUSTOMIZES TYPOGRAPHY
 *-----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 
{
	line-height: 1;
}

h1
{
	font-family: 'Arvo', sans-serif;
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 20px;
	text-align: center;
}

h2
{
	font-size: 1.5em;
	letter-spacing: -1px;
	margin-bottom: 20px;
	text-align: left;
	font-weight: normal;
	color: $gray;
}

h3
{
	font-family: 'Arvo', sans-serif;
	margin-bottom: 20px;
}

p
{
	font-size: 1.1em;
	line-height: 1.7em;
	color: $gray-light;
	margin-bottom: 20px;
}

#p-below-form
{
	padding-bottom: 30px;
}

.btn-submit
{
	margin-bottom: 30px;
	font-size: 1.1em;
	font-weight: bold;
}

.btn::-webkit-scrollbar { 
    display: none; 
}

.btn
{
	overflow-y: hidden;
	display: block;
	font-weight: bold;
	line-height: 1.4em;
	margin-bottom: 30px;
}

ul
{
	font-size: 1.1em;
	line-height: 1.5em;
	color: $gray-light;
}

a
{
	color: red;
	text-decoration: none;
	&:hover
	{
		color: darkred;
		text-decoration: none;
	}
}

.p_static_page
{
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: 0px;
}

/*-------------------------------------------------------------
 *  CUSTOMIZES THE HEADER
 *-----------------------------------------------------------*/

.navbar
{
	background-color: $gray-lighter;
	text-transform: uppercase;
	border-bottom: 1px solid #ddd;
	opacity: 0.7;
	a
	{
		color: $gray-darker;
		text-decoration: none;
		&:hover
		{
			color: darkred;
			background-color: transparent;
			text-decoration: none;
		}
	}
	#logo
	{
		float: left;
		margin-right: 10px;
		margin-left: 10px;
		font-size: 1.7em;
		color: $gray-darker;
		font-family: 'Arvo', sans-serif;
		letter-spacing: -1px;
		padding-top: 9px;
		&:hover
		{
			color: darkred;
			text-decoration: none;		
		}
	}
}

/*-------------------------------------------------------------
 *  CUSTOMIZES THE FOOTER
 *-----------------------------------------------------------*/

footer
{
	margin-top: -1px;
	padding-top: 20px;
	margin-bottom: 90px;
	border-top: 1px solid #ddd;
	color: $gray-light;
	a
	{
		color: $gray;
		&:hover { color: darkred; }
	}
	small
	{
		float: left;
		.signature
		{
			font-family: 'Pacifico', sans-serif;
			font-size: 1.2em;
			a
			{
				color: $purple;
				&:hover 
				{ 
					color: $purpleDark;
					text-decoration: none; 
				}
			}
		}
	}
	ul
	{
		float: right;
		list-style: none;
		li
		{
			float: left;
			margin-left: 15px;
		}
	}
}

/*-------------------------------------------------------------
 *  CUSTOMIZES THE SLIDER
 *-----------------------------------------------------------*/

.slider
{
	height: 550px !important;
	width: 100% !important;
}

.slide
{
	margin-top: 51px;
	background-position: center;
	background-size: cover;
	height: 550px !important;
	width: 100% !important;
	border-bottom: 1px solid #ddd;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.active-slide 
{
  display: block;
}

#slide-1
{
	padding-top: 110px;
	padding-left: 20px;
	display: inline-block;
	background-image: url('/assets/landing-1.png');
	h1
	{
		text-align: left;
		color: $gray;
	}
	.btn
	{
		display: inline-block;
		margin-top: 5px;
		font-size: 1.1em;
	}
}
#slide-2
{
	padding-top: 180px;
	background-image: url('/assets/landing-2.png');
	h1
	{
		text-shadow: 1px 1px 1px #555;
		color: white;
		margin-bottom: 15px;
		text-align: center;
	}
	p
	{
		text-shadow: 1px 1px 1px #555;
		color: white;
		text-align: center;
	}
	.action-link
	{
		text-shadow: none;
	}
}
#slide-3
{
	color: white;
	padding-top: 105px;
	background-image: url('/assets/landing-3.png');
	text-shadow: 1px 1px 1px #555;
	h1
	{
		text-align: center;
	}
	p
	{
		color: white;
		text-align: center;
	}
	.action-link
	{
		color: white;
		&:hover
		{
			color: $gray-medium-light;
		}
	}
}

.slider-nav
{
	text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
	.arrow-prev 
	{
		width: 13px;
		height: 23px;
		background-image: url('/assets/arrow-prev.png');
	  margin-right: 45px;
	  display: inline-block;
	  vertical-align: top;
	  margin-top: 9px;
	}
	.arrow-next 
	{
		width: 13px;
		height: 23px;
		background-image: url('/assets/arrow-next.png');
	  margin-left: 45px;
	  display: inline-block;
	  vertical-align: top;
	  margin-top: 9px;
	}
	.slider-dots 
	{
	  list-style: none;
	  display: inline-block;
	  padding-left: 0;
	  margin-bottom: 0;
	  margin-top: 10px;
	}
	.slider-dots li 
	{
	  color: #bbbcbc;
	  display: inline;
	  font-size: 30px;
	  margin-right: 5px;
	}
	.slider-dots li.active-dot 
	{
	  color: #363636;
	}
}

/*-------------------------------------------------------------
 *  CUSTOMIZES THE FEATURES SECTION
 *-----------------------------------------------------------*/


.feature_static_page
{
	position: relative;
	clear: both;
	border-bottom: 1px solid $gray-lighter;
	background-size: cover;
	display: block;
	vertical-align: baseline;
	min-width: 100% !important;
	.container
	{
		margin-top: 5px;
		margin-bottom: 15px;
	}
}

.feature
{
	position: relative;
	clear: both;
	border-bottom: 1px solid $gray-lighter;
	background-size: cover;
	display: block;
	vertical-align: baseline;
	min-width: 100% !important;
	.container
	{
		margin-top: 20px;
		margin-bottom: 15px;
	}
}

.feature-back
{
	position: relative;
	background: transparent url('/assets/feature-gradient.png') 
		center bottom no-repeat;
	margin: 0 -500%;
  padding: 1.5em 500%;
}

.content-left
{
	float: left;
	margin: 0px;
	display: inline-block;
	max-width: 570px;
}

.content-right
{
	float: right;
	margin: 0px;
	display: inline-block;
	max-width: 570px;
}

.thumbnail
{
	text-align: center;
	width: 533px;
	height: 316px;
	background-color: white;
	padding: 5px;
	margin-top: 10px;
}

#feature-1
{
	width: 520px;
	height: 304px;
	display: block;
	margin: 0px;
	padding: 0px;
	background-image: url('/assets/feature-1.png');
}

#feature-2
{
	width: 520px;
	height: 304px;
	display: block;
	margin: 0px;
	padding: 0px;
	background-image: url('/assets/feature-2.png');
}

#feature-3
{
	width: 520px;
	height: 304px;
	display: block;
	margin: 0px;
	padding: 0px;
	background-image: url('/assets/feature-3.png');
}

/*-------------------------------------------------------------
 *  CUSTOMIZES THE ABOUT SECTION
 *-----------------------------------------------------------*/

.features-list
{
	list-style: none;
	padding: 0;
	h2
	{
		text-align: center;
	}
	li:before
	{
	  content: '✔';   
	  margin-left: -1em; margin-right: .100em;
	}
	ul
	{
	   padding-left: 20px;
	   text-indent: 2px;
	   list-style: none;
	   list-style-position: outside;
	}
}

#about-1
{
	width: 520px;
	height: 304px;
	display: block;
	margin: 0px;
	padding: 0px;
	background-image: url('/assets/about-1.png');
}

#about-2
{
	width: 520px;
	height: 304px;
	display: block;
	margin: 0px;
	padding: 0px;
	background-image: url('/assets/about-2.png');
}

/*-------------------------------------------------------------
 *  CUSTOMIZES THE HELP AND CONTACT SECTIONS
 *-----------------------------------------------------------*/

.links-list
{
	list-style: none;
	padding: 0;
	h2
	{
		text-align: center;
	}
	li:before
	{
	  content: '✎';   
	  margin-left: -1em; margin-right: .100em;
	  color: red;
	}
	ul
	{
	   padding-left: 20px;
	   text-indent: 2px;
	   list-style: none;
	   list-style-position: outside;
	}
}

#help-1
{
	width: 520px;
	height: 304px;
	display: block;
	margin: 0px;
	padding: 0px;
	background-image: url('/assets/help-1.png');
}

#contact-1
{
	width: 520px;
	height: 304px;
	display: block;
	margin: 0px;
	padding: 0px;
	background-image: url('/assets/contact-1.png');
}

/*-------------------------------------------------------------
 *  CUSTOMIZES THE USER PROFILE'S SIDEBAR
 *-----------------------------------------------------------*/

aside
{
	section.user_info
	{
		margin-top: 20px;
	}
	section
	{
		padding: 10px 0;
		margin-top: 20px;
		&:first-child
		{
			border: 0;
			padding-top: 0;
		}
		span
		{
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1
		{
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 7px;
			margin-top: 0px;
		}
	}
}

.gravatar
{
	float: left;
	margin-right: 10px;
}

.gravatar_edit
{
	margin-top: 15px;
	margin-bottom: 100px;
}

.stats
{
	overflow: auto;
	margin-top: 0;
	padding: 0;
	a
	{
		float: left;
		padding: 0 10px;
		border-left: 1px solid $gray-lighter;
		color: gray;
		&:first-child
		{
			padding-left: 0;
			border: 0;
		}
		&:hover
		{
			text-decoration: none;
			color: darkred;
		}
	}
	strong
	{
		display: block;
	}
}

.user_avatars
{
	overflow: auto;
	margin-top: 10px;
	.gravatar
	{
		margin: 1px 1px;
	}
	a
	{
		padding: 0;
	}
}

.users.follow
{
	padding: 0;
}

.follow_form
{
	display: block;
	padding: 0px;
}

/*-------------------------------------------------------------
 *  CUSTOMIZES FORMS
 *-----------------------------------------------------------*/

input, textarea, select, .uneditable-input
{
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input
{
	height: auto !important;
}

#error_explanation
{
	font-size: 0.8em;
	color: red;
	ul
	{
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors
{
	@extend .has-error;
	.form-control
	{
		color: $state-danger-text;
	}
}

.checkbox
{
	margin-top: -10px;
	margin-bottom: 10px;
	span
	{
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me
{
	width: auto;
	margin-left: 0;
}

/*-------------------------------------------------------------
 *  CUSTOMIZES USERS INDEX
 *-----------------------------------------------------------*/

.users
{
	list-style: none;
	margin: 0;
	li
	{
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
}

.pagination
{
	color: darkred;
}

/*-------------------------------------------------------------
 *  CUSTOMIZES MICROPOSTS
 *-----------------------------------------------------------*/

.microposts
{
	list-style: none;
	padding: 0;
	li
	{
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
	.user
	{
		margin-top: 5em;
		padding-top: 0;
	}
	.content
	{
		display: block;
		margin-left: 60px;
		img
		{
			display: block;
			padding: 5px 0;
		}
	}
	.timestamp
	{
		color: $gray-light;
		display: block;
		margin-left: 60px;
	}
	.gravatar
	{
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}
}

aside
{
	textarea
	{
		height: 100px;
		margin-bottom: 5px;
	}
}

span.picture
{
	font-size: 0.8em;
	margin-top: 10px;
	input
	{
		border: 0;
	}
}